.gs-about {
    &__wrapper {
        max-width: 76rem;
        margin: 7vw 8vw;

        @include tablet-up {
            margin: 7vw 10vw;
        }

        @include desktop {
            margin: 86.2px 10vw;
        }
    }

    p {
        @include gs-type-paragraph;
    }
}
