.gs-articles {
    max-width: 66rem;
    margin: 5rem auto;

    @media screen and (min-width: 768px) {
        margin: 10rem auto;
    }

    &__item {
        border-bottom: 1px solid $clr-foreground-l4;
        margin: 0 3rem 5rem;
        padding: 0 0 5rem;

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }

        &-title {
            font-size: 2.4rem;
            margin: 2rem 0 1rem;

            a {
                color: $clr-foreground-l0;
            }
        }

        &-meta {
            color: $clr-foreground-l3;
            font-size: 1.2rem;
            letter-spacing: 1px;
            margin: 0 0 3rem;
            text-transform: uppercase;
        }

        &-excerpt {
            font-family: $font-family-serif;
            font-weight: 300;
            line-height: 3rem;
            margin: 3rem 0 0;
        }
    }

    &__zero {
        font-size: 2rem;
        font-weight: 300;
        margin: 5rem 0;
        padding: 0 3rem;
        text-align: left;

        @media screen and (min-width: 60 * $font-size-base) {
            text-align: center;
        }
    }
}
