.gs-author {
    background: $clr-background-l2;
    margin: 0 auto;
    padding: 5rem 3rem;

    @media screen and (min-width: 60 * $font-size-base) {
        padding: 10rem 3rem;
    }

    &__name {
        font-size: 2.7rem;
        margin: 0 auto;
        max-width: 60rem;
        text-align: left;

        @media screen and (min-width: 40 * $font-size-base) {
            font-size: 3rem;
        }

        @media screen and (min-width: 60 * $font-size-base) {
            font-size: 4rem;
        }
    }

    &__location {
        margin: 1.7rem auto 0;
        max-width: 60rem;
        color: $clr-foreground-l3;
        font-size: 1.2rem;
        letter-spacing: 1px;
        text-align: left;
        text-transform: uppercase;
    }

    &__bio {
        max-width: 60rem;
        margin: 1.7rem auto 0;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 3rem;
        text-align: left;

        @media screen and (min-width: 60 * $font-size-base) {
            line-height: 3rem;
            font-size: 2rem;
            text-align: justify;
        }
    }
}
