.gs-author {
    max-width: 66rem;
    margin: 10rem auto;
    padding: 0 3rem;

    &__name {
        font-size: 4rem;
        text-align: center;

        @media screen and (min-width: 40 * $font-size-base) {
            font-size: 5rem;
            text-align: center;
        }

        @media screen and (min-width: 60 * $font-size-base) {
            font-size: 6rem;
            text-align: center;
        }
    }

    &__location {
        color: $clr-foreground-l3;
        font-size: 1.2rem;
        letter-spacing: 1px;
        margin-top: 1.7rem;
        text-align: center;
        text-transform: uppercase;
    }

    &__bio {
        max-width: 66rem;
        margin: 1.7rem auto 10rem;
        font-size: 2rem;
        font-weight: 300;
        line-height: 3rem;
        text-align: center;

        @media screen and (min-width: 60 * $font-size-base) {
            text-align: justify;
        }
    }
}
