.gs-button {
    background: $clr-background-l3;
    border: none;
    border-radius: 3px;
    color: $clr-foreground-l0;
    display: block;
    font-family: $font-family-serif;
    font-size: 1.6rem;
    font-style: italic;
    height: 5rem;
    outline: none;
    width: 100%;

    &:hover {
        background: $clr-foreground-l0;
        color: $clr-background-l1;
        cursor: pointer;
    }
}
