.gs-footer {
    background: $clr-background-l2;
    position: relative;
    z-index: 2;

    &__wrapper {
        max-width: 76rem;
        padding: 3rem 8vw;

        @include tablet-up {
            padding: 3rem 10vw;
        }
    }

    &__copyright {
        color: $clr-foreground-l2;
        font-style: italic;
        font-size: 1.4rem;

        em {
            color: $clr-foreground-l0;
        }
    }
}
