.gs-jumbotron {
    background: $clr-background-l2;
    background: #E0EBF5;
    overflow: hidden;
    position: relative;

    &__wrapper {
        max-width: 66rem;
        margin: 10vw 8vw;
        position: relative;

        @include tablet-up {
            margin: 10vw 10vw;
        }

        @include desktop {
            margin: 103px 10vw;
        }
    }

    &__bar {
        background: $clr-foreground-l3;
        height: 2px;
        margin-top: 3rem;
        width: 50px;
    }

    &__title + &__description {
        margin-top: 2rem;
    }

    &__title {
        color: $clr-foreground-l0;
        font-size: 2.7rem;
        margin: 0 auto;

        @include tablet-up {
            font-size: 3.6rem;
        }
    }

    &__description {
        color: #2E3943;
        font-family: $font-family-serif;
        font-size: 2rem;
        line-height: 1.67;
        margin: 0;
        text-align: left;
        position: relative;
        z-index: 2;

        @include phablet-up {
            font-size: 2.2rem;
        }

        @include tablet-up {
            font-size: 2.7rem;
            padding-right: 10rem;
        }
    }

    &__masthead &__title {
        font-size: 3rem;

        @include tablet-up {
            font-size: 4rem;
        }
    }

    &__masthead &__description {
        font-size: 2.2rem;

        @include phablet-up {
            font-size: 2.4rem;
        }

        @include tablet-up {
            font-size: 3rem;
        }
    }
}
