.gs-jumbotron {
    background: $clr-background-l2;

    &__wrapper {
        max-width: 66rem;
        margin: 0 auto;
        padding: 10rem 3rem;
    }

    &__title {
        font-size: 4rem;
        text-align: left;

        @media screen and (min-width: 40 * $font-size-base) {
            font-size: 5rem;
        }

        @media screen and (min-width: 60 * $font-size-base) {
            font-size: 6rem;
        }
    }

    &__description {
        font-size: 2rem;
        font-weight: 300;
        line-height: 3rem;
        margin: 1.7rem 0 0;
        text-align: left;

        @media screen and (min-width: 60 * $font-size-base) {
            text-align: justify;
        }
    }
}
