.gs-jumbotron {
    background: $clr-background-l2;

    &__wrapper {
        max-width: 66rem;
        margin: 0 auto;
        padding: 6rem 3rem;

        @media screen and (min-width: 40 * $font-size-base) {
            padding: 8rem 3rem;
        }

        @media screen and (min-width: 60 * $font-size-base) {
            padding: 10rem 3rem;
        }
    }

    &__description {
        font-family: $font-family-sans-serif;
        font-size: 2.2rem;
        font-weight: 300;
        line-height: 1.5;
        margin: 0;
        text-align: left;

        @include phablet-up {
            font-size: 2.4rem;
        }

        @include tablet-up {
            font-size: 3rem;
        }
    }
}
