.gs-navigation {
    background: $clr-background-l2;
    height: 6rem;
    line-height: 6rem;
    font-size: 1.6rem;
    position: relative;
    z-index: 3;

    &__wrapper {
        max-width: 66rem;
        margin: 0 auto;
        padding: 0 3rem;
        position: relative;
    }

    &__logo {
        a {
            color: $clr-foreground-l0;
        }
    }

    &__links {
        position: absolute;
        top: 0;
        right: 3rem;

        ul,
        ol {
            display: inline-block;
            margin: 0;
            padding: 0;
        }

        li {
            float: left;
            list-style: none;
            margin-left: 1rem;
        }
    }
}
