$gs-navigation-floating-size: 60px;

.gs-post-navigation {
    display: none;

    @include desktop {
        display: block;
    }

    &__next,
    &__prev {
        position: fixed;
        width: 100vh;
        text-align: center;
        top: -#{$gs-navigation-floating-size};

        a {
            @include gs-type-meta;

            color: $clr-foreground-l1;
            display: inline-block;
            line-height: $gs-navigation-floating-size;
            text-align: center;
            transform: rotate(-180deg);
            width: 100vh;
        }
    }

    &__next {
        transform: rotate(-270deg);
        transform-origin: bottom left;
        left: 0;
    }

    &__prev {
        transform: rotate(-90deg);
        transform-origin: bottom right;
        right: 0
    }

    &__pagination {
        display: block;

        @include desktop {
            display: none;
        }
    }
}
