@import "./post-navigation";

.gs-post-content {
    @include gs-type-paragraph;

    background: white;
    margin: 2rem 8vw 7vw;
    padding-top: 0;
    position: relative;
    z-index: 2;

    @include tablet-up {
        margin: 2rem 10vw 7vw;
    }

    @include desktop {
        margin: 2rem 10vw 86.2px;
    }

    .kg-card-markdown > *:first-child {
        margin-top: 0;
        padding-top: 0;
    }

    .kg-card-markdown > *:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .kg-card-markdown {
        > * {
            max-width: 100%;

            // Magic number for when the body content stops expanding.
            @media screen and (min-width: 95 * $font-size-base) {
                max-width: 76rem;
            }
        }

        > pre,
        > p > img[src$="#full"] {
            max-width: 96rem;
            width: 100%;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $clr-foreground-l0;
        //margin: 1em 3rem;
        margin: 1em 0;
    }

    blockquote,
    hr,
    img,
    ol,
    p,
    pre,
    ul {
        // This top/bottom margin should match line height.
        //margin: 1.0625em 3rem;
        margin: 1.0625em 0;
    }

    blockquote {
        border-left: 1px solid $clr-foreground-l4;
        font-style: italic;
        padding: 0 3rem;

        p {
            margin: 0;
            padding: 0;
        }
    }

    ul,
    ol {
        padding-left: 3rem;

        li {
            margin: 0;

            p {
                margin: 0 0 3rem;
                padding: 0;
            }
        }

        ul {
            margin: 0;
        }
    }

    img {
        display: block;
        max-width: 100%;
        margin: 3rem auto;
        border-radius: 3px;
    }

    iframe {
        display: block;
        margin: 3rem 0;
        max-width: 100%;
    }

    hr {
        background: $clr-foreground-l4;
        border: none;
        height: 1px;
        margin: 3rem 0;
        width: auto;
    }

    mark {
        background: linear-gradient(to bottom, transparent 50%, rgba(167, 255, 235, 0.5) 0) center center/100% 100% no-repeat;
        color: $clr-foreground-l0;
        position: relative;
    }

    pre {
        background: $clr-background-l2;
        border-radius: 0;
        max-width: 96rem;
        width: 100%;
        overflow-x: auto;
        margin: 3rem 0;
        padding: 3rem;
    }

    code {
        background: $clr-background-l3;
        border-radius: 3px;
        color: $clr-foreground-l0;
        padding: 0.2rem 0.5rem;
    }

    p {
        code {
            line-height: 1.7;
        }
    }

    pre {
        code {
            background: inherit;
            color: inherit;
            margin: 0;
            padding: 0;
        }
    }

    small.caption {
        color: $clr-foreground-l2;
        display: block;
        margin-bottom: 3rem;
        text-align: center;

        @include tablet-up {
            margin-bottom: 5rem;
        }
    }

    strong {
        font-weight: bold;
    }

    .footnotes {
        margin: 3rem 0;
    }

    .footnote-item {
        p {
            margin: 0;
        }
    }
}
