@import "./post-navigation";

.gs-post-image {
    margin: 0 auto 3rem;
    max-width: 100%;
    width: 100%;

    // Slight hack to make this a bit smoother.
    @media screen and (min-width: 70 * $font-size-base) {
        margin: 0 auto 5rem;
    }

    @include tablet-up {
        margin: 0 auto 8rem;
    }

    img {
        display: block;
        height: auto;
        width: 100%;
        text-align: center;
    }

    // This one has to be a little custom, we take both sides of the floating navigation off of the
    // desktop breakpoint with.
    @media screen and (min-width: $desktop-width - ($gs-navigation-floating-size * 2)) {
        max-width: $desktop-width - ($gs-navigation-floating-size * 2);

        img {
            border-radius: 3px;
        }
    }

    @include desktop {
        max-width: 1920px;
        padding: 0 $gs-navigation-floating-size;
        width: 100%;
    }
}
