.gs-post-header {
    max-width: 96rem;
    margin: 0 auto;
    padding: 8rem 3rem;
    text-align: center;

    &__title {
        @include desktop {
            font-size: 5rem;
        }
    }

    &__meta {
        color: $clr-foreground-l2;
        font-size: 1.4rem;
        margin: 1.7rem 0 0;
    }
}
