.gs-tag {
    max-width: 66rem;
    margin: 10rem auto;
    padding: 0 3rem;
    text-align: center;

    &__title {
        font-size: 5rem;

        @media screen and (min-width: 42 * $font-size-base) {
            font-size: 6rem;
        }
    }

    &__description {
        max-width: 66rem;
        margin: 1.7rem auto 10rem;
        font-size: 2rem;
        font-weight: 300;
        line-height: 3rem;
    }
}
