@mixin gs-type-paragraph {
    font-family: $font-family-serif;
    font-size: 1.6rem;
    line-height: 1.7;

    @include tablet-up {
        font-size: 1.8rem;
    }
}

@mixin gs-type-subdued {
    font-family: $font-family-serif;
    font-size: 1.4rem;
    font-style: italic;
}

@mixin gs-link {
    $clr-anchor: $clr-primary-l4;

    color: $clr-anchor;
    text-decoration: none;
    text-decoration-color: $clr-anchor;
    text-decoration-skip: ink;

    &:hover {
        text-decoration: underline;
    }
}
