<footer class="gs-footer">
    <div class="gs-footer__wrapper">
        {{#if @labs.subscribers}}
            <div class="gs-footer__subscribe-message">
                Subscribe to get the latest articles from my blog.
            </div>

            <div class="gs-footer__subscribe">
                {{subscribe_form}}
            </div>
        {{/if}}

        <div class="gs-footer__copyright">
            &copy; {{date format="YYYY"}}, <em>{{@blog.title}}</em>
        </div>
    </div>
</footer>
