<nav class="gs-navigation">
    <div class="gs-navigation__wrapper">
        <div class="gs-navigation__logo">
            <a href="{{@blog.url}}">
                {{@blog.title}}
            </a>
        </div>

        <div class="gs-navigation__links">
            <ul class="nav" role="menu">
                <li class="nav-github" role="menuitem">
                    <a href="https://www.github.com/seeruk" target="_blank">
                        Github
                    </a>
                </li>

                <li class="nav-rss" role="menuitem">
                    <a href="/rss/">
                        RSS
                    </a>
                </li>
            </ul>

            {{!-- {{navigation}} --}}
        </div>
    </div>
</nav>
