$clr-primary-l1: #8C9EFF;
$clr-primary-l2: #536DFE;
$clr-primary-l3: #3D5AFE;
$clr-primary-l4: #304FFE;

$clr-secondary-l1: #74cedd;
$clr-secondary-l2: #027987;

$clr-background-l1: #FFFFFF;
$clr-background-l2: #F8F9FD;
$clr-background-l3: #F3F4FA;

$clr-foreground-l0: #1a1a1a;
$clr-foreground-l1: #3F4B63;
$clr-foreground-l2: #727E96;
$clr-foreground-l3: #ACB3C2;
$clr-foreground-l4: #E7E9ED;
