$clr-primary-l1: #8C9EFF;
$clr-primary-l2: #536DFE;
$clr-primary-l3: #3D5AFE;
$clr-primary-l4: #304FFE;

$clr-background-l1: #ffffff;
$clr-background-l2: #f8f9fa;
$clr-background-l3: #f0f1f4;

$clr-foreground-l0: #000000;
$clr-foreground-l1: #454d5d;
$clr-foreground-l2: #727e96;
$clr-foreground-l3: #acb3c2;
$clr-foreground-l4: #e7e9ed;
