$font-family-mono: "Fira Mono", monospace;
$font-family-serif: "ff-tisa-web-pro", serif;
$font-family-base: $font-family-serif;
$font-family-title: $font-family-serif;

$font-size-initial: 9px;
$font-size-base: 10px;
