$font-family-grotesque: "Titillium Web", sans-serif;
$font-family-mono: "Fira Mono", monospace;
$font-family-sans-serif: "PT Sans", sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-title: $font-family-sans-serif;
$font-family-article-title: "Josefin Sans", sans-serif;

$font-size-initial: 9px;
$font-size-base: 10px;
