{{!< default}}

{{> "nav"}}

{{#author}}

    <header class="gs-jumbotron">
        <div class="gs-jumbotron__wrapper">
            <h1 class="gs-jumbotron__title">
                Posts by {{name}}
            </h1>

            {{#if location}}
                <h2 class="gs-jumbotron__description">
                    {{location}}

                    {{#if website}}
                        &bullet;
                        <a href="{{website}}" target="_blank">
                            Website
                        </a>
                    {{/if}}
                </h2>
            {{/if}}
        </div>
    </header>

{{/author}}

{{> "loop"}}

{{> "footer"}}
