{{!< default}}

{{> "nav"}}

<header class="gs-jumbotron">
    <div class="gs-jumbotron__wrapper">
        <div class="gs-jumbotron__description" lang="en">
            {{@blog.description}}
        </div>
    </div>
</header>

{{> "loop"}}

{{> "footer"}}
