{{!< default}}

{{> "nav"}}

<header class="gs-jumbotron gs-jumbotron__masthead">
    <div class="gs-jumbotron__wrapper">
        <h2 class="gs-jumbotron__description" lang="en">
            {{@blog.description}}
        </h2>
    </div>
</header>

{{> "loop"}}

{{> "footer"}}
