{{!< default}}

{{> "nav"}}

<header class="gs-jumbotron gs-jumbotron__masthead">
    <div class="gs-jumbotron__wrapper">
        <h2 class="gs-jumbotron__description" lang="en">
            {{@blog.description}}
        </h2>
        <div class="gs-jumbotron__bar"></div>
    </div>
</header>

{{> "loop"}}

<hr>

<div class="gs-about">
    <div class="gs-about__wrapper">
        <h4>About</h4>

        <p>
            My current role is lead developer over at
            <a href="https://www.icelolly.com/" target="_blank">icelolly.com</a>, working on various
            backend systems written in Go. My main focuses there are promoting best practices, good
            developer experience, automation, and clean code. Despite working almost exclusively
            with Go these days, the bulk of my programming history has been spent with PHP. I've
            been working with Go since March, 2016.
        </p>

        <p>
            In my spare time I work on some side projects
            <a href="https://github.com/SeerUK" target="_blank">of my own</a>, and
            <a href="https://www.bucketd.com" target="_blank">with friends</a>. I climb, every so
            often I take photos, and enjoy gaming.
        </p>
    </div>
</div>

{{> "footer"}}
