{{!< default}}

{{> "nav"}}

<!--<header class="gs-jumbotron">-->
    <!--<div class="gs-jumbotron__wrapper">-->

    <!--</div>-->
<!--</header>-->

<div class="gs-lead">
    {{@blog.description}}
</div>

{{> "loop"}}

{{> "footer"}}
