{{!< default}}

{{> "nav"}}

<header class="gs-jumbotron">
    <div class="gs-jumbotron__wrapper">
        <h1 class="gs-jumbotron__title">
            {{@blog.title}}
        </h1>

        <div class="gs-jumbotron__description" lang="en">
            {{@blog.description}}
        </div>
    </div>
</header>

{{> "loop"}}

{{> "footer"}}
