{{!< default}}

{{> "nav"}}

{{#tag}}

    <header class="gs-tag">
        {{!-- <p>{{feature_image}}</p> --}}

        <h1 class="gs-tag__title">
            {{name}}
        </h1>
    </header>

    {{#if description}}
        <div class="gs-tag__description">
            {{description}}
        </div>
    {{/if}}

{{/tag}}

{{> "loop"}}

{{> "footer"}}
