{{!< default}}

{{> "nav"}}

{{#tag}}

    <header class="gs-tag">
        <h1 class="gs-tag__title">
            {{name}}
        </h1>

        {{#if description}}
            <div class="gs-tag__description">
                {{description}}
            </div>
        {{/if}}
    </header>

{{/tag}}

{{> "loop"}}

{{> "footer"}}
