{{!< default}}

{{> "nav"}}

{{#tag}}

    <header class="gs-jumbotron">
        <div class="gs-jumbotron__wrapper">
            <h1 class="gs-jumbotron__title">
                Posts in '{{name}}'
            </h1>

            {{#if description}}
                <h2 class="gs-jumbotron__description">
                    {{description}}
                </h2>
            {{/if}}
        </div>
    </header>

{{/tag}}

{{> "loop"}}

{{> "footer"}}
