{{!< default}}

{{> "nav"}}

{{#tag}}

    <header class="gs-tag">
        <div class="gs-tag__wrapper">
            <h1 class="gs-tag__title">
                Posts in '{{name}}'
            </h1>

            {{#if description}}
                <div class="gs-tag__description">
                    {{description}}
                </div>
            {{/if}}
        </div>
    </header>

{{/tag}}

{{> "loop"}}

{{> "footer"}}
